<div class="mx-3 my-3">
  <mat-grid-list cols="{{gridlistcols}}" rowHeight="3:1">
    <mat-grid-tile
      *ngFor="let fenster of fensters"
      [colspan]="fenster.cols"
      [rowspan]="fenster.rows"
     >
      <div>
        <mat-card [style.opacity]="fenster.opacity" (click)="openWindow(fenster)">
          <mat-card-content >
            {{fenster.text}}
            <img [hidden]="fenster.imageHidden" mat-card-image src="{{fenster.image}}">
          </mat-card-content>
        </mat-card>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
