<div class="p-2 justify-content-center">
  <mat-grid-list
    cols="{{ gridlistcols }}"
    rowHeight="{{ rowHeight }}"
    gutterSize="{{ guttersize }}"
  >
    <mat-grid-tile
      class="tile"
      *ngFor="let fenster of fensters"
      [colspan]="fenster.cols"
      [rowspan]="fenster.rows"
    >
      <div *ngIf="!fenster.open; else fensterOpen">
        <button
          class="buttontextcolor shadow p-2"
          mat-mini-fab
          (click)="openWindow(fenster)"
        >
          {{ fenster.text }}
        </button>
      </div>
      <ng-template #fensterOpen>
        <img
          class="p-2 imagesizeTile"
          (click)="showContent(fenster)"
          [hidden]="fenster.imageHidden"
          src="{{ fenster.image }}"
        />
      </ng-template>
    </mat-grid-tile>
  </mat-grid-list>
</div>
