.buttontextcolor {
  color: black;
  border-style: dashed;
  //border-radius: 25px;
  background: none; //test
  justify-content: center;
}

.tile {
  //border: solid 2px #000; //test
  margin: 5px;
}

.imagesizeTile {
  hight: 80%;
  width: 100%;
}
