.buttontextcolor {
  color: black;
  border-style: dashed;
  border-width: 3px;
  border-collapse: separate;
  border-spacing: initial;
  border-radius: 25px;
  background: red; //test
  line-height: 29px;
}

.tile {
  border: solid 2px #000; //test
  margin-top: 5px;
  margin-bottom: 5px;
  margin-inside: true;
}
