<div class="p-2 justify-content-center">
  <mat-grid-list
    cols="{{ gridlistcols }}"
    gutterSize="{{ guttersize }}"
    rowHeight="{{ rowHeight }}"
  >
    <mat-grid-tile
      *ngFor="let fenster of fensters"
      [colspan]="fenster.cols"
      [rowspan]="fenster.rows"
    >
      <div *ngIf="!fenster.opened; else fensterOpen">
        <button
          (click)="openWindow(fenster)"
          class="buttontextcolor p-2"
          mat-mini-fab
        >
          {{ fenster.text }}
        </button>
      </div>
      <ng-template #fensterOpen>
        <button
          (click)="openWindow(fenster)"
          [ngStyle]="{'background-image': 'url(' +  fenster.image  + ')'}"
          class="buttontextcolor p-2"
          mat-mini-fab
        >
          {{ fenster.text }}
        </button>
      </ng-template>
    </mat-grid-tile>
  </mat-grid-list>
</div>
