html,
body {
  height: 100%;
  background-color: #303030;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.background-img {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background: no-repeat center center;
  background-size: cover;
}

//TODO:für jedes jahr ein bild
.background-img-pic {
  background-image: url("../assets/pics/HDpic.jpg");
}

.background-img-pic-not-yet {
  background-image: url("../assets/pics/NotYet.gif");
}


mat-dialog-container {
  background: none !important;
}

.backgroundgray {
  background-color: dimgray;
}

