.dialogSize {
  overflow: hidden;
}

.imageSize {
  height: 350px;
  width: 350px;
  visibility: visible;
}

.doorWrapper {
  height: 100%;
  width: 100%;
  position: relative;
  /* 3D */
  overflow: hidden;
}

.backDoorRight {
  background: no-repeat center center;
  background-size: cover;
  background-image: url("../../../assets/doors/weihnachtsfensterRechts.jpg");
  height: 100%;
  width: 50%;
  position: absolute;
  right: 0;
  /* transition */
  transform-origin: right;
  transition: transform 2s;
}

.backDoorLeft {
  background: no-repeat center center;
  background-size: cover;
  background-image: url("../../../assets/doors/weihnachtsfensterLinks.jpg");
  height: 100%;
  width: 50%;
  position: absolute;
  left: 0;
  /* transition */
  transform-origin: left;
  transition: transform 2s;
}

/* Door swing effect */
.openleft {
  transform: rotateY(-140deg);
}

.openright {
  transform: rotateY(140deg);
}

.iconSize {
  transform: scale(1.5);
}




