<div class="vw-75 vh-75 dialogSize">
  <div *ngIf="!fenster.opened; else fensterOpen">
    <div (click)="toggleDoor()" class="doorWrapper">
      <div class="backDoorRight {{openright}}">
      </div>
      <div class="backDoorLeft {{openleft}}">
      </div>
      <img class="imageSize" src="{{ image }}"/>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <button (click)="closeButton()" color="{{closeButtonColor}}" mat-button>
      <mat-icon class="iconSize">highlight_off</mat-icon>
    </button>
  </div>
  <ng-template #fensterOpen>
    <img class="imageSize" src="{{ image }}"/>
  </ng-template>
</div>


