@media screen and (orientation: landscape) {
  .background-img {
    width: 100%;
    hight: 100vh;
    background: no-repeat center center;
    background-size: cover;
  }
}

@media screen and (orientation: portrait) {
  .background-img {
    width: 100%;
    hight: 100%;
    background: no-repeat center center;
    background-size: cover;
  }
}
